commands:
  01_install_dotnet:
    command: |
      powershell -Command "Start-Transcript -Path 'C:\dotnet_install.log' -Append"
      powershell -Command "$ProgressPreference = 'SilentlyContinue'"
      powershell -Command "Invoke-WebRequest -Uri 'https://download.visualstudio.microsoft.com/download/pr/dotnet-hosting-9.0.0-win.exe' -OutFile 'C:\dotnet_hosting.exe'"
      powershell -Command "Start-Process -FilePath 'C:\dotnet_hosting.exe' -ArgumentList '/install','/quiet','/norestart' -Wait -PassThru"
      powershell -Command "Stop-Transcript"
    ignoreErrors: false
