container_commands:
  01_setup_environment:
    command: powershell.exe -Command "Set-Content -Path 'C:\inetpub\wwwroot\app_offline.htm' -Value 'Application is starting...' -Force"
  02_set_permissions:
    command: powershell.exe -Command "icacls 'C:\inetpub\wwwroot' /grant 'IIS AppPool\DefaultAppPool:(OI)(CI)F' /T"
  03_remove_offline:
    command: powershell.exe -Command "Remove-Item -Path 'C:\inetpub\wwwroot\app_offline.htm' -Force -ErrorAction SilentlyContinue"
