commands:
  01_set_app_pool:
    command: powershell.exe -Command "Import-Module WebAdministration; Set-ItemProperty 'IIS:\AppPools\DefaultAppPool' -Name 'managedRuntimeVersion' -Value ''"
    ignoreErrors: true
  
  02_set_app_pool_identity:
    command: powershell.exe -Command "Import-Module WebAdministration; Set-ItemProperty 'IIS:\AppPools\DefaultAppPool' -Name 'processModel.identityType' -Value 'ApplicationPoolIdentity'"
    ignoreErrors: true
  
  03_enable_logs:
    command: powershell.exe -Command "New-Item -ItemType Directory -Force -Path 'C:\inetpub\logs\LogFiles'"
    ignoreErrors: true
